{% set service = "tomcat" ~ salt['pillar.get']('tomcat:version') %}
{% set tomcat = salt['grains.filter_by']({
    'Debian': {
        'name': 'tomcat',
        'service': service,
        'native': 'libtcnative-1',
        'manager': service ~ '-admin',
    },
    'Ubuntu': {
        'name': 'tomcat',
        'service': service,
        'native': 'libtcnative-1',
        'manager': service ~ '-admin',
    },
    'RedHat': {
        'name': 'tomcat',
        'service': service,
        'native': 'libtcnative-1',
        'manager': 'tomcat-admin-webapps',
    },
    'openSUSE': {
        'name': 'tomcat',
        'service': service,
        'native': 'libtcnative-1-0',
        'manager': 'tomcat-admin-webapps',
    },
    'FreeBSD': {
        'name': 'tomcat',
        'service': 'tomcat',
        'native': 'tomcat-native',
    },
    'Arch': {
        'name': 'tomcat',
        'service': 'tomcat',
        'native': 'tomcat-native'
    },
}, merge=salt['pillar.get']('tomcat:lookup')) %}
