tomcat:
    version: 7
    security: 'no'
    connector:
      port: 8080
      protocol: 'HTTP/1.1'
      connectionTimeout: 20000
      URIEncoding: 'UTF-8'
      redirectPort: 8443
      maxHttpHeaderSize: 8192
      maxThreads: 150
      minSpareThreads: 25
      maxSpareThreads: 75
      enableLookups: 'false'
      disableUploadTimeout: 'true'
      acceptCount: 100
      scheme: http
      secure: 'false'
      SSLEnabled: 'false'
      clientAuth: 'false'
      sslProtocol: TLS
      keyAlias: ''
      keystoreFile: ''
      keypass: ''
    sites:
        example.com: # must be unique; used as an ID declaration in Salt; also passed to the template context as {{ id }}
          appBase: ../webapps/myapp
          path: ''
          docBase: '/var/lib/tomcat7/webapps/myapp'
          alias: {{ id }}
          unpackWARs: "true"
          autoDeploy: "true"
          reloadable: "true"
          debug: 0
        example.net:
          appBase: ../webapps/myapp2
          path: ''
          docBase: '/var/lib/tomcat7/webapps/myapp2'
          alias: {{ id }}
          unpackWARs: "true"
          autoDeploy: "true"
          reloadable: "true"
          debug: 0
    manager:
         user: saltuser
         passwd: RfgpE2iQwD
java:
    home: '/usr/lib/jvm/java-7-oracle'
    Xmx: 3G # TODO: Need to do a calculation based on the available memory on the machine.
    MaxPermSize: 256m
    UseConcMarkSweepGC: '-XX:+UseConcMarkSweepGC'
    CMSIncrementalMode: '-XX:+CMSIncrementalMode'
limit:
    soft: 64000
    hard: 64000
