tomcat:
    version: 7
    security: 'no'
    connector:
      port: 8443
      protocol: 'org.apache.coyote.http11.Http11Protocol'
      connectionTimeout: 20000
      URIEncoding: 'UTF-8'
      redirectPort: 8443
      maxHttpHeaderSize: 8192
      maxThreads: 150
      minSpareThreads: 25
      enableLookups: 'false'
      disableUploadTimeout: 'true'
      acceptCount: 100
      scheme: https
      secure: 'true'
      SSLEnabled: 'true'
      clientAuth: 'false'
      sslProtocol: TLS
      keystoreFile: '/path/to/keystoreFile'
      keystorePass: 'somerandomtext'
    sites:
        example.com: # must be unique; used as an ID declaration in Salt; also passed to the template context as {{ id }}
          appBase: ../webapps/myapp
          path: ''
          docBase: '/var/lib/tomcat7/webapps/myapp'
          alias: {{ id }}
          unpackWARs: "true"
          autoDeploy: "true"
          reloadable: "true"
          debug: 0
        example.net:
          appBase: ../webapps/myapp2
          path: ''
          docBase: '/var/lib/tomcat7/webapps/myapp2'
          alias: {{ id }}
          unpackWARs: "true"
          autoDeploy: "true"
          reloadable: "true"
          debug: 0
    manager:
        # UPDATE: This version of the pillar file now supports multiple user acccounts and variable roles.  The previous version of this formula supported only a single user and fixed roles.
        roles:
          - manager-gui
          - manager-script
          - manager-jmx
          - manager-status
        users:
          saltuser1:
            passwd: RfgpE2iQwD
            roles: manager-gui,manager-script,manager-jmx,manager-status
          saltuser2:
            passwd: RfgpE2iQwD
            roles: manager-gui,manager-script,manager-jmx,manager-status
java:
    home: '/usr/lib/jvm/java-7-oracle'
    Xmx: 3G # TODO: Need to do a calculation based on the available memory on the machine.
    MaxPermSize: 256m
    UseConcMarkSweepGC: '-XX:+UseConcMarkSweepGC'
    CMSIncrementalMode: '-XX:+CMSIncrementalMode'
    log4jconfig: '/path/to/log4j.properties'
    logbackConfigurationFile: 'path/to/logback.xml'
limit:
    soft: 64000
    hard: 64000
